.ol-popup-cartoview {
    position: absolute;
    background-color: #F7F7F7;
    color: #333333;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 0px;
    bottom: 12px;
    left: -50px;
    width: 300px;
}

.ol-popup-cartoview .title-panel {
    background-color: #5491B8;
    border-color: #777777;
        color: #FFFFFF;

    font-weight: 700;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #121310;
}

.ol-popup-cartoview:after,
.ol-popup-cartoview:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup-cartoview:after {
    border-top-color: #F7F7F7;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup-cartoview:before {
    border-top-color: #F7F7F7;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-cartoview-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    float: right;
    right: 8px;
}

.ol-popup-cartoview-closer:after {
    content: "✖";
}

.ol-popup-cartoview .cartoview-popup-content ,.cartoview-popup-actions {
    background-color: #F7F7F7;
    color: #333333;
    max-height: 250px;
    overflow-y: auto;
    padding: 5px;
    border-color: 0 solid #121310;
}

.ol-popup-cartoview .cartoview-popup-actions{
  color: orange;
  font-weight: 500;
  font-size: small;
  border: 1px solid #d8d8d8
}
.title-panel .fa{
    float:right;
    padding:3px

}
ul {
    width: 100%;
    position: relative;
}
ul:before, ul:after {
    text-align: center;
    display: block;
    border-bottom: 0;
    width: 40%;
}
ul:before {
    border-right: 0;    
}
ul:after {
    position: absolute;
    top: 0;
    left: 48%;
    margin-left: 1px;    
}
    
li {
    text-align: left;
    font-size: small;
    padding: 3px;
    width: 40%;
    float: left;
    word-wrap: break-word;
    margin-bottom: -1px;
    white-space: pre-line
}
li:nth-child(even) {
    margin-left: -1px;
}